/*! creating variables */
/*  */

@font-face {
  font-family: "PTSansCaption-Regular";
  src: url(../Font-Google/PTSansCaption-Regular.ttf);
  font-weight: 400;

  
}

@font-face {
  font-family: "Pacifico-Regular";
  src: url(../Font-Google/Pacifico-Regular.ttf);
  font-weight: 400;

  
}

@font-face {
  font-family: "Righteous-Regular";
  src: url(../Font-Google/Righteous-Regular.ttf);
  font-weight: 400;

  
}


/*! creating variables */
:root {
  --body-font: "PTSansCaption-Regular";
  --title-font: "Righteous-Regular";
}

/*! Global styling */

body {
  font-family: var(--body-font);
  background-color: #F7ECDE;
}

p {
  color: RGB(153, 153, 153);
  ;
}

h1{
  font-family: "Pacifico-Regular";
  font-size: 50px;
  transition: all 1s;

}

h1::before{
  content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;

}

 /*&  Noted */
 h1:hover{
background-color: #fec260;
transition: all 1s;
top: 0;
} 

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-size:25px;

}

h2{ 

  background-image:linear-gradient(to right, #3ca55c, #b5ac49);
  background-clip: text;
  color: transparent;
  
}

.border-head{

  border-top-style: dotted;
  border-bottom: transparent;
  padding-top: 25px;
  border-color: black;
  width: 100%;
  text-align: center;
  border-width: medium;

}

button::after {
  content: "..............................................................................................................................................................................................................................................................................................................................................";
  font-weight: 100;
  color:black;
  margin: auto;
  width: 100%;
  left: 0;
  top: 550px;
  position: absolute;

} 


.btn-visit {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9eb23b;
  --bs-btn-border-color: #9eb23b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8a9e23;
  --bs-btn-hover-border-color: #6e8018;
}


/*? End of Style==> By Eslam Gomaa*/